#### GitHub Actions to check whether package can be built as is

name: R-CMD-check

on:
  pull_request:
    branches: [main]
    types: [closed]


jobs:
  release:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Create a release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: Test Release 2
          tag: 0.0.2
